
.fl {
  display: flex;
}

.fl-justify-b {
  justify-content: space-between;
}

.fl-justify-end {
  justify-content: flex-end;
}

.fl-justify-c {
  justify-content: center;
}

.fl-align-c {
  align-items: center;
}

.fl-dir-col {
  flex-direction: column;
}

.cb__wrapper {
  width: 86%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 0 5px 1px rgba(39,39,39,.4);
  padding-bottom: 60px;
}

.cb-main-text {
  font-weight: 400;
}

.cb-button {
  padding: 5px 15px;
  cursor: pointer
}

.cb-input {
  padding: 5px 10px;
}
/* styles for header */
.cb-header {
  margin: 0 auto;
  width: 96%;
  border-bottom: 1px solid rgba(39,39,39,.4); 
  margin-bottom: 50px;
}

.cb__header-user {
  margin-left: 20px;
}
/* .cb-header__sign-and-logo {
  vertical-align: middle;
} */

.cb-header__logo-wrap {
  margin-left: 20px;
  width: 100px;
}

.cb-header__logo-img {
  max-width: 100%;
}

/* styles for form */
.cb-form__wrapper {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}

.cb-form__welcome {
  border-bottom: 1px solid rgba(39,39,39,.4);
  text-align: center;
}

.cb-form__inner {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
}

.cb-form__buttons-wrapper {
  padding-top: 30px;
}

.cb-form__checkbox {
  margin-left: 30px;
}

.cb-form__label-remember {
  font-size: 14px;
  margin-left: 10px;
}

/* styles for recepts-content */
.cb-recepts__content-wrapper {
  margin: 0 auto;
  width: 96%;
}

.cb-recepts__search {
  width: 50%;
}

.cb-input-search {
  width: 220px;
  margin-right: 20px
}

.cb-recepts__wrapper {
  border: 1px solid grey;
  padding: 20px;
}

.cb-recepts__item {
  border: 1px dotted grey;
  margin-bottom: 25px;
  padding: 20px;
}

.cb-item__resume-part {
  align-items: flex-end;
}

.cb-item__img-part, .cb-item__ingridients-part,
.cb-item__resume-part, .cb-item__buttons-part {
  width: 22%;
}